table.wpel_event_list {
	
}
table.wpel_event_list tr {
	border-bottom: 1px solid #d7d7d7;
}
table.wpel_event_list tr td {
	
}
table.wpel_event_list tr td div.event {
	padding: 11px 5px 0px 6px;
	margin: 2px 0;
	clear: both;
}

.black table.wpel_event_list tr td * {v
	color: white;
}
.black table.wpel_event_list tr td div.event h6 {
	color: rgb(235, 58, 50);
}

/* Overrides for custom pages */
body.page-events-calendar table.wpel_event_list tr td {
	border-bottom: 0px; 
}