table.wpel_event_list {}
table.wpel_event_list tr {}
table.wpel_event_list tr td {
	border-bottom: 1px solid #d7d7d7;
}

table.wpel_event_list tr td div.side_date {
    min-width: 100px;
	font-weight: bold;
}
table.wpel_event_list tr td div.side_date .year {
    color: #ccc;
    font-weight: normal;
}
table.wpel_event_list tr td div.event {
	padding: 15px 5px 0px 10px;
	clear: both;
}

/* if user is at the same country as the event */
table.wpel_event_list tr.user_country {
    outline: none;
    border-color: #9fed9e;
    box-shadow: 0 0 10px #a3ed9e;
}
table.wpel_event_list tr.user_country td {
    border: 0px;
}
table.wpel_event_list tr.user_country td {
    outline: none;
    background: rgba(159, 237, 158, 0.12);
}


@media screen and (max-width:460px) {
	table.wpel_event_list {
		margin: 0 auto;
		tetx-align:center;
	}
}