table.wpel_event_list {
	
}
table.wpel_event_list tr {
	border-bottom: 1px solid #d7d7d7;
}
table.wpel_event_list tr td {
	
}
table.wpel_event_list tr td div.event {
	padding: 11px 5px 0px 6px;
	margin: 2px 0;
	clear: both;
}

.black table.wpel_event_list tr td * {v
	color: white;
}
.black table.wpel_event_list tr td div.event h6 {
	color: rgb(235, 58, 50);
}

/* Overrides for custom pages */
body.page-events-calendar table.wpel_event_list tr td {
	border-bottom: 0px; 
}


.event_featured {
	margin: 12px;
    padding: 12px;
}
.event_featured .event_title {
	margin: 2px;
}
.event_featured .event_details {
	margin: 2px;
}
.event_featured .event_button {
	font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin: 12px;
    padding: 15px 33px;
    display: inline-block;
    -webkit-appearance: none;
    color: #383838 !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #ebebeb;
}