table.wpel_event_list {
	
}
table.wpel_event_list tr {
	border-bottom: 1px solid #d7d7d7;
}
table.wpel_event_list tr td {
	
}
table.wpel_event_list tr td div.event {
	padding: 11px 5px 0px 6px;
	margin: 2px 0;
	clear: both;
}

.black table.wpel_event_list tr td * {
	color: white;
}
.black table.wpel_event_list tr td div.event h6 {
	color: rgb(235, 58, 50);
}

/* if visitor is at the same country as the event */
table.wpel_event_list tr.visitor_country {
}
table.wpel_event_list tr.visitor_country td {
    border: 0px;
}
table.wpel_event_list tr.visitor_country td div.event {
    outline: none;
    border-color: #9fed9e;
    box-shadow: 0 0 10px #a3ed9e;
    background: rgba(159, 237, 158, 0.12);
	border-bottom: 0px;
}

/* Overrides for custom pages */
body.page-events-calendar table.wpel_event_list tr td {
	border-bottom: 0px; 
}